.ed-home {
    width: 100%;
    height: 500px;
    background: url("../../../assets/images/img-01.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.ed-home-header-content {
    width: 100%;
    height: calc(500px - 88px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.ed-home-header-content-text {
    text-align: center;
}
.ed-home-header-content-text h2 {
    font-size: 60px;
    color: var(--color-white);
}
.ed-home-header-content-text p {
    margin: 0;
    font-size: 20px;
    color: var(--color-white);
    font-weight: 300;
}