<header class="ed-home">
    <app-navigation></app-navigation>
    <section class="container">
        <section class="ed-home-header-content">
            <div class="ed-home-header-content-text">
                <h2>Eletricistas de Emergência</h2>
                <p>Serviço Eléctrico Confiável e Certificado no Porto Alegre.</p>
                <p>Ligue para: 51 99999-8963</p>
            </div>
        </section>
    </section>
</header>
<section class="container mt-5">
    <div class="row ed-home-cards" >
        <div class="col-lg-4 col-md-6" *ngFor="let card of cards">
            <div class="d-flex">
                <div class="flex-shrink-0">
                    <img src={{card.images}}>
                </div>
                <div class="flex-grow-1 ms-3">
                    <h4>{{card.title}}</h4>
                    <p>{{card.description}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center mt-5">
            <a href="/service" class="btn btn-outline-dark rounded-0 py-3 px-5">Todos os serviços</a>
        </div>
    </div>
</section>
<section class="ed-home-banner mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Electricistas com<br/> anos de experiência</h3>
                <h5>Electricista Dash</h5>
            </div>
            <div class="col-lg-6">
                <p>Clique aqui e comece a digitar. Veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut.</p>
                <p>Aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt neque porro quisquam est qui dolorem ipsum quia dolor sit amet consectetur adipisci velit sed quia.</p>
            </div>
        </div>
    </div>
</section>
<section class="ed-home-witnesses">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center mb-5">
                <h2>Testemunhos</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 text-center" *ngFor="let witnesse of witnesses">
                <img src={{witnesse.image}}>
                <p>{{witnesse.description}}</p>
                <h5>{{witnesse.fullname}}</h5>
                <h6>{{witnesse.office}}</h6>
            </div>
        </div>
    </div>
</section>
<section class="ed-home-contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Deixe o trabalho eléctrico nas mãos de profissionais</h3>
                <a href="/contact" class="btn btn-outline-light rounded-0 py-3 px-5">Entre em contato</a>
            </div>
        </div>
    </div>
</section>