.ed-contact {
    width: 100%;
    height: 350px;
    background: url("../../../assets/images/img-02.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.ed-contact-header-content {
    width: 100%;
    height: calc(350px - 88px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.ed-contact-header-content-text {
    text-align: center;
}
.ed-contact-header-content-text h2 {
    font-size: 75px;
    color: var(--color-white);
    font-weight: 300;
}
