<header class="ed-about">
    <app-navigation></app-navigation>
    <section class="container">
        <section class="ed-about-header-content">
            <div class="ed-about-header-content-text">
                <h2>Sobre nós</h2>
            </div>
        </section>
    </section>
</header>
<section class="ed-about-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="../../../assets/images/img-04.png" alt="" width="100%">
            </div>
            <div class="col-lg-6">
                <h2>Electricistas com anos de experiência</h2>
                <p>Este é o lugar onde o seu texto começa. Pode clicar aqui e começar a digitar. Iste natus error sit voluptatem accusantium.</p>
                <p>Porro quisquam est qui dolorem ipsum quia dolor sit amet consectetur adipisci velit sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem ut enim ad minima.</p>
            </div>
        </div>
    </div>
</section>

