<div class="offcanvas offcanvas-end" tabindex="-1" id="mobile" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header d-flex align-items-center">
        <a class="navbar-brand" href="/">
            <img src="assets/icons/brand.svg" width="200px">
        </a>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="navbar-nav ms-auto">
            <a class="nav-link" href="/">Início</a>
            <a class="nav-link" href="/service">Serviços</a>
            <a class="nav-link" href="/about">Sobre nós</a>
            <a class="nav-link" href="/contact">Contato</a>
        </div>
    </div>
</div>