<nav class="navbar navbar-expand-lg navbar-dark bg-transparent py-4">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="assets/icons/brand-white.svg">
        </a>
        <button class="navbar-toggler border-0" type="button">
            <img src="assets/icons/icon-menu.svg">
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/">Início</a>
                <a class="nav-link" href="/service">Serviços</a>
                <a class="nav-link" href="/about">Sobre nós</a>
                <a class="nav-link" href="/contact">Contato</a>
            </div>
        </div>
    </div>
</nav>